<!DOCTYPE HTML>

<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Withdrawal: [%id%] ([%title%])</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="author" content="https://medcom.dk/"/>

  <link href="fhir.css" rel="stylesheet"/>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap-fhir.css" rel="stylesheet"/>

  <!-- Project extras -->
  <link href="css/project.css" rel="stylesheet"/>
  <link href="css/pygments-manni.css" rel="stylesheet"/>
  <link href="css/hl7-dk.css" rel="stylesheet"/>
  <link href="css/withdrawal.css" rel="stylesheet"/>

  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/icon-fhir-144.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/icon-fhir-114.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/icon-fhir-72.png"/>
  <link rel="apple-touch-icon-precomposed" href="ico/icon-fhir-57.png"/>
  <link rel="shortcut icon" href="ico/favicon.png"/>
</head>

<body>
  <div id="segment-header" class="segment">
    <div class="container">
      <div id="hl7-nav">
        <a id="hl7-logo" no-external="true" href="https://www.medcom.dk">
          <img height="50" alt="Visit MedComs website" src="images/dark-medcom-logo.png"/>
        </a>
      </div>
      <div id="family-nav">
        <a id="family-logo" no-external="true" href="http://hl7.org/fhir">
          <img height="50" alt="Visit the FHIR website" src="images/fhir-logo-www.png"/>
        </a>
      </div>
      <div id="ig-status">
        <p><span id="ig-title" style="font-size:12pt;font-weight:bold">[%title%]</span>
          <br/>
          <span style="display:inline-block;">[%ver%] - Withdrawn
            <img alt="Denmark flag" src="images/dnk.svg" height="16" title="Denmark"/>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div id="segment-navbar" class="segment">
    <div id="stripe"> </div>
    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container">
          <button data-target=".navbar-inverse-collapse" class="navbar-toggle" data-toggle="collapse" type="button" aria-label="Toggle navigation">
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
            <span class="icon-bar"> </span>
          </button>
          <a class="navbar-brand hidden" href="https://hl7.org/fhir/index.html">FHIR</a>
          <div class="nav-collapse collapse navbar-inverse-collapse">
            <ul class="nav navbar-nav">
              <li><a no-external="true" href="[%history%]">History</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div id="segment-breadcrumb" class="segment">
    <div class="container">
      <ul class="breadcrumb">
        <li><a no-external="true" href="[%history%]">History</a></li>
        <li><b>Withdrawal Notice</b></li>
      </ul>
    </div>
  </div>

  <div id="segment-content" class="segment">
    <div class="container">
      <div class="row">
        <div class="inner-wrapper">
          <div class="col-12">
            <h2>Withdrawal Notice</h2>
            <p>[%notice%]</p>
            [%desc%]
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="segment-footer" class="segment">
    <div class="container">
      <div class="inner-wrapper">
        <p>
          IG &#169; <a style="color: var(--footer-hyperlink-text-color)" href="https://medcom.dk">MedCom</a>.
          <span id="ig-footer">Package [%id%]#[%ver%].</span>
          <br/>
          <span style="color: var(--footer-highlight-text-color)">
            Links: <a style="color: var(--footer-hyperlink-text-color)" href="[%history%]">History</a> |
            <a style="color: var(--footer-hyperlink-text-color)" target="_blank" href="https://www.was.digst.dk/medcomfhir-dk-ig-">Accessibility statement (Tilgængelighedserklæring)</a>
          </span>
        </p>
      </div>
    </div>
  </div>

  <div id="segment-post-footer" class="segment hidden">
    <div class="container"> </div>
  </div>

  <!-- Keep spaces inside script elements to prevent empty-tag serialization. -->
  <script src="js/jquery.js"> </script>
  <script src="js/bootstrap.min.js"> </script>
  <script src="js/respond.min.js"> </script>
</body>
</html>
